/*Iconos de material desing*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

/* Div para rotación de pantalla */
.landscape_div {
    display: none;
    width: 0;
    height: 0;
}

/* Estilos en general */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    user-select: none;
    overflow: hidden !important;
}

/*Versión movil vertical*/

.fondo {
    position: relative;
    background: red;
    height: 100vh;
    min-height: 100vh;
}

.fondo .banner {
    background: green;
    position: absolute;
    top: 0;
    left: 0;
    height: 20vw;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.fondo .imagen {
    position: absolute;
    top: 20vw;
    left: 0;
    height: calc(100vh - 44vw);
    width: 100%;
    background: brown;
    z-index: 0;
}

.fondo .social {
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 30vw;
    bottom: 24vw;
    z-index: 10;
}

.fondo .social .div_social {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo .social .div_social.login_internet {
    display: inline-flex;
    width: 50%;
    float: left;
}

.fondo .social .div_social .centro {

}

.fondo .social .div_social .centro .texto {
    display: block;
    color: #fefefe;
    font-size: 3.5vw;
    text-align: center;
    margin-bottom: 2vw;
}

.fondo .social .div_social .centro .btn_acction {
    display: block;
    border: none;
    text-align: center;
    padding: 2vw 5vw;
    background: #3b5998;
    color: #fefefe;
    font-size: 3.5vw;
    border-radius: 2vw;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.fondo .social .div_social .centro .btn_acction:active {
    transform: scale(0.99);
}

.fondo .botones {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24vw;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo .botones .btn_padre {
    display: inline-flex;
    width: 15vw;
    flex-flow: column;
    margin: 0 1vw;
}

.fondo .botones .btn_padre .btn_icono {
    background: beige;
    width: 14vw;
    height: 14vw;
    margin: 0 auto;
    border-radius: 50%;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.fondo .botones .btn_padre .btn_icono:active {
    transform: scale(0.96);
}

.fondo .botones .btn_padre .btn_texto {
    display: block;
    text-align: center;
    font-size: 2.7vw;
    font-weight: 500;
    margin: .5vw 0;
}

.anuncio {
    position: absolute;
    z-index: 999;
    background: #f5f5f5;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.anuncio .cerrar_ad {
    position: absolute;
    width: 100%;
    height: 15vw;
    z-index: 10;
    display: flex;
    align-items: center;
}

.anuncio .cerrar_ad .icono {
    display: block;
    float: right;
    background: #FF4848;
    width: 8vw;
    height: 8vw;
    margin-left: calc(100% - 14vw);
    border-radius: 50%;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 600;
    line-height: 8vw;
    color: #fefefe;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.anuncio .cerrar_ad .icono:active {
    transform: scale(0.96);
}

.anuncio .cerrar_ad .icono.noactive {
    pointer-events: none;
    background: #F5f5f5;
    color: #000;
}

.anuncio .video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.anuncio .video.show_texto {
    overflow-y: auto;
    align-items: flex-start;
    padding: 15vw 0;
}

.anuncio .video .ad_bloque {
    width: auto;
    margin: 0 auto;
    height: auto;
    max-width: 88%;
    border-radius: 2vw;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.anuncio .video .ad_bloque .ad_titulo {
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    background: #fff;
    height: 16vw;
    position: relative;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.anuncio .video .ad_bloque .ad_titulo .div_icono {
    position: absolute;
    height: 10vw;
    width: 10vw;
    left: 3vw;
    top: 3vw;
    background: #0398FB;
    border-radius: 50%;
    text-align: center;
    line-height: 10vw;
    font-size: 4vw;
    color: #fefefe;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.anuncio .video .ad_bloque .ad_titulo .div_icono .icono {
    
}

.anuncio .video .ad_bloque .ad_titulo .div_texto {
    position: absolute;
    left: 16vw;
    height: 10vw;
    top: 3vw;
    line-height: 10vw;
    font-weight: 500;
    font-size: 3.5vw;
}

.anuncio .video .ad_bloque .ad_titulo .div_texto .texto {
    
}

.anuncio .video .ad_bloque .ad_descripcion {
    background: #f5f5f5;
    position: relative;
    height: 22vw;
    padding-top: 2vw;

    transition: all .3s .3s;
}

.anuncio .video .ad_bloque .ad_descripcion .texto {
    display: block;
    width: 100%;
    height: 10vw;
    overflow: hidden;
    font-size: 3.5vw;
    padding: 1vw 5vw;
}

.anuncio .video .ad_bloque .ad_descripcion.show_texto {
    height: auto;
    transition: all .3s .3s;
}

.anuncio .video .ad_bloque .ad_descripcion.show_texto .texto {
    height: auto;
    transition: all .3s .3s;
}

.anuncio .video .ad_bloque .ad_descripcion .boton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.anuncio .video .ad_bloque .ad_descripcion .boton .desc {
    font-size: 3.5vw;
    font-weight: 600;
}

.anuncio .video .ad_bloque .ad_descripcion .boton .flecha {
    font-size: 6vw;
}

.anuncio .video .ad_bloque .ad_file {
    max-height: 100vw;
    display: flex;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.anuncio .video .ad_bloque .ad_file video {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.anuncio .video .ad_bloque .ad_file img {
    max-width: 100%;
    max-height: 100%;
}

.notificacion {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    align-items: center;

    display: none;
    height: 100vh;
    background: rgba(0,0,0,0.1);
    justify-content: center;
}

.notificacion.show {
    display: flex;
}

.notificacion .centro {
    background: #434343;
    width: 80%;
    height: 33vw;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.notificacion .centro .icono {
    background: #FF4848;
    display: block;
    width: 10vw;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    border-radius: 50%;
    font-size: 5vw;
    position: absolute;
    left: 4vw;
}

.notificacion .centro .texto {
    display: block;
    position: absolute;
    left: 16vw;
    font-size: 3.5vw;
    font-weight: 600;
    color: #fefefe;
    width: 52vw;
    line-height: 5vw;
}

.notificacion .centro .loader {
    width: 8vw;
    height: 8vw;
    margin-top: 1vw;
    position: absolute;
    right: 3vw;
}

.div_modulo {
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #f5f5f5;

    display: none;
}

.div_modulo.show {
    display: block;
}

.div_modulo .mod_snac {
    height: 20vw;
    position: absolute;
    width: 100%;
    top: 0;
    background: #FF4848;
}

.div_modulo .mod_snac .mod_titulo {
    position: absolute;
    left: 0;
    padding: 0 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
}

.div_modulo .mod_snac .mod_titulo .texto {
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: .1vw;
}

.div_modulo .mod_opciones {
    left: 3vw;
    position: absolute;
    width: 18vw;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_modulo .mod_opciones .icono {
    display: block;
    background: #3E3E3E;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    text-align: center;
    line-height: 7vw;
    font-size: 4vw;
    color: #f5f5f5;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.div_modulo .mod_opciones .icono:active {
    transform: scale(0.96);
}

.div_modulo .mod_contenido {
    position: absolute;
    height: calc(100% - 20vw);
    top: 20vw;
    width: 100%;
}

.div_modulo .mod_contenido .mod_lista {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.mod_lista.mod_turismo {
    
}

.mod_lista.mod_turismo .lista_cat {
    background: #3e3e3e;
    position: absolute;
    top: 3vw;
    height: 15vw;
    width: calc(100% - 10vw);
    margin: 0 5vw;
    padding: 0 5vw;
    border-radius: 9vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista.mod_turismo .lista_cat .item {
    color: #ccc;
    font-weight: 600;
    font-size: 3.5vw;
    width: auto;
    display: inline-flex;
    height: 100%;
    padding: 0 4vw;
    align-items: center;
    justify-content: center;
}

.mod_lista.mod_turismo .lista_cat .item.active {
    color: #fff;
}

.mod_lista.mod_turismo .lista_cat .item span {
    cursor: pointer;
}

.mod_lista .lista_items {
    position: absolute;
    width: 100%;
    height: calc(100% - 18vw);
    top: 18vw;
    padding: 5vw;
    overflow-y: auto;
}

.mod_lista .lista_items.all_height {
    height: 100%;
    top: 0;
}

.mod_lista .lista_items .lugar {
    position: relative;
    background: #3e3e3e;
    width: 95%;
    height: 66vw;
    margin: 0 auto;
    margin-bottom: 15vw;
    border-radius: 12vw;
    display: none;
}

.mod_lista .lista_items .lugar.show {
    display: block;
}

.mod_lista .lista_items .lugar img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12vw;
    z-index: 0;
}

.mod_lista .lista_items .lugar .color {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(0,0,0,0.2);
    border-radius: 12vw;
}

.mod_lista .lista_items .lugar .barra {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    /* background: red; */
    border-top-left-radius: 12vw;
    border-top-right-radius: 12vw;
    height: 24vw;
}

.mod_lista .lista_items .lugar .barra .logo {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 12vw;
    height: 100%;
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mod_lista .lista_items .lugar .barra .logo .icono {
    background: #FF4848;
    width: 10vw;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    font-size: 4vw;
    border-radius: 50%;
    color: #fefefe;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .lugar .nombre {
    position: absolute;
    left: 22vw;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 4vw;
    font-weight: 600;
}

.mod_lista .lista_items .lugar .nombre .texto {
    
}

.mod_lista .lista_items .lugar .descripcion {
    position: absolute;
    background: #fff;
    bottom: -9vw;
    z-index: 15;
    height: 30vw;
    left: 10vw;
    width: calc(100% - 20vw);
    border-radius: 8vw;
    padding: 3vw 6vw;
    text-align: justify;
    overflow-y: scroll;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .lugar .descripcion span {
    
}

.mod_lista .lista_items .promo {
    background: #fff;
    position: relative;
    margin-bottom: 7vw;;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .promo .barra {
    position: relative;
    height: 18vw;
}

.mod_lista .lista_items .promo .barra .logo {
    position: absolute;
    left: 3vw;
    height: 100%;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mod_lista .lista_items .promo .barra .logo .icono {
    background: #FF4848;
    width: 10vw;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    font-size: 4vw;
    border-radius: 50%;
    color: #fefefe;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .promo .barra .nombre {
    position: absolute;
    left: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.mod_lista .lista_items .promo .barra .nombre .texto {
    font-size: 3.7vw;
    font-weight: 600;
}

.mod_lista .lista_items .promo .descripcion {
    padding: 0 8vw;
}

.mod_lista .lista_items .promo .descripcion .texto {
    padding: 0 8vw;
    margin-bottom: 5vw;
}

.mod_lista .lista_items .promo .multimedia {
    max-height: 85vw;
}

.mod_lista .lista_items .promo .multimedia .material-placeholder {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.mod_lista .lista_items .promo .multimedia img {
    display: block;
    max-width: 90%;
    max-height: 100%;
    margin: 3vw 0;
}

.mod_lista.mod_puntos_wifi .lista_cat {
    background: #3e3e3e;
    position: absolute;
    top: 3vw;
    height: 15vw;
    width: calc(100% - 10vw);
    margin: 0 5vw;
    padding: 0 5vw;
    border-radius: 9vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista.mod_puntos_wifi .lista_cat .item {
    color: #ccc;
    font-weight: 600;
    font-size: 3.5vw;
    width: auto;
    display: inline-flex;
    height: 100%;
    padding: 0 4vw;
    align-items: center;
    justify-content: center;
}

.mod_lista.mod_puntos_wifi .lista_cat .item.active {
    color: #fff;
}

.mod_lista.mod_puntos_wifi .lista_cat .item span {
    cursor: pointer;
}

.mod_lista.mod_puntos_wifi .lista_items {
    position: absolute;
    width: 100%;
    height: calc(100% - 18vw);
    top: 18vw;
    padding: 5vw;
    overflow-y: auto;
}

.mod_lista.mod_puntos_wifi .lista_items .punto {
    display: none;
    background: #fff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5vw;
    height: 39vw;
    border-radius: 5vw;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista.mod_puntos_wifi .lista_items .punto.show {
    display: block;
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro {
    position: relative;
    height: 100%;
    border-radius: 5vw;
    width: 100%;
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .logo .icono {
    display: block;
    background: #FF4848;
    color: #fefefe;
    width: 12vw;
    height: 12vw;
    text-align: center;
    line-height: 12vw;
    font-size: 4vw;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .barra {
    position: absolute;
    left: 20vw;
    height: 76%;
    background: #3e3e3e;
    width: .1vw;
    top: 12%;
    border-radius: 5vw;
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .barra span {

}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .datos {
    position: absolute;
    left: 20.5vw;
    height: 100%;
    width: calc(100% - 20.5vw);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 5vw;
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .datos .nombre {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 3.8vw;
}

.mod_lista.mod_puntos_wifi .lista_items .punto .centro .datos .texto {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 3.5vw;
    padding-left: 4vw;
}

.mod_lista .lista_items .video {
    height: 98vw;
    position: relative;
    margin-bottom: 3vw;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .video .video_titulo {
    background: #fff;
    width: 100%;
    height: 16vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .video .video_titulo .icono {
    background: #ff4848;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    text-align: center;
    line-height: 9vw;
    color: #fefefe;
    margin-right: 3vw;
    font-size: 4.8vw;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .video .video_titulo .nombre {
    display: block;
    font-size: 3.7vw;
    font-weight: 600;
}

.mod_lista .lista_items .video .video_descripcion {
    background: #f5f5f5;
    padding: 3vw 6vw;
    height: auto;
}

.mod_lista .lista_items .video .video_descripcion .texto {
    display: block;
    height: 11vw;
    overflow: hidden;
    font-size: 3.5vw;
}

.mod_lista .lista_items .video .video_descripcion .opcion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vw 0;
}

.mod_lista .lista_items .video .video_descripcion .opcion span {
    font-weight: 700;
    font-size: 3.2vw;
}

.mod_lista .lista_items .video .video_descripcion .opcion .icono {
    font-weight: 600;
    font-size: 5vw;
}

.mod_lista .lista_items .video .video_media {
    position: relative;
    width: 100%;
    height: 55vw;
}

.mod_lista .lista_items .video .video_media video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mod_lista .lista_items .video .video_media .miniatura {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #70809080;
}

.mod_lista .lista_items .video .video_media .miniatura i {
    color: #fff;
    position: relative;
    background: indianred;
    border-radius: 50%;
    width: 12vw;
    height: 12vw;
    text-align: center;
    line-height: 12vw;
    font-size: 7vw;
    z-index: 100;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista .lista_items .video .video_media .miniatura .loader {
    display: none;
    width: 12vw;
    height: 12vw;
}

.mod_lista .lista_items .video.showtexto {
    height: auto;
}

.mod_lista .lista_items .video.showtexto .video_descripcion .texto {
    height: auto;
}

.mod_lista .lista_items .video .video_media .miniatura i.notshow {
    display: none;
}

.mod_lista .lista_items .video .video_media .miniatura .loader.show {
    display: block;
}

.mod_lista .lista_items .video .video_media video.show {
    z-index: 100;
}

.mod_lista .lista_items .video .video_media .miniatura.notshow {
    display: none;
}

.mod_lista.mod_lista_agenda .contenedor {
    position: relative;
    height: 100%;
}

.mod_lista.mod_lista_agenda .contenedor .meses {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 15vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mod_lista.mod_lista_agenda .contenedor .meses .icono {
    font-size: 6vw;
}

.mod_lista.mod_lista_agenda .contenedor .meses span {
    font-size: 3.5vw;
    font-weight: 700;
}

.mod_lista.mod_lista_agenda .contenedor .tabla {
    position: absolute;
    top: 15vw;
    height: calc(100% - 15vw);
    width: 100%;
    overflow-y: auto;
}

.mod_lista.mod_lista_agenda .contenedor .tabla thead {
    
}

.mod_lista.mod_lista_agenda .contenedor .tabla thead tr {
    
}

.mod_lista.mod_lista_agenda .contenedor .tabla thead tr td {
    text-align: center;
    font-weight: 500;
}

.mod_lista.mod_lista_agenda .contenedor .tabla tbody {
    
}

.mod_lista.mod_lista_agenda .contenedor .tabla tbody tr {
    
}

.mod_lista.mod_lista_agenda .contenedor .tabla tbody tr td {
    text-align: center;
}

.mod_lista.mod_lista_agenda .contenedor .tabla tbody tr td.active {
    background: #004371;
    color: #fefefe;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos {
    padding: 5vw 7vw;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos .titulo {
    margin: 2.5vw;
    font-size: 4vw;
    text-align: center;
    font-weight: 700;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos .evento {
    margin-bottom: 5vw;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos .evento .col {
    padding: 0;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos .evento .col p {
    margin: 1vw;
    font-size: 3.5vw;
    text-align: justify;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos .evento .col p .eti {
    font-weight: 700;
    margin-right: 1vw;
}

.mod_lista.mod_lista_agenda .contenedor .tabla .lista_eventos .evento .col p .texto {
    
}






/*Versión movil vertical*/

/* Querys */

/*Movil horizontal*/
@media only screen 
    and (min-device-width: 450px) 
    and (max-device-width: 824px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) { 

        .portrait_div {
            display: none;   
        }

        .landscape_div {
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 1017;
            width: 100%;
            height: 100%;
            background: #fff;
        }

        .landscape_div .contenido {
            width: 100%;
        }

        .landscape_div .contenido i {
            display: block;
            display: block;
            text-align: center;
            font-size: 10vw;
            color: #004371;
        }

        .landscape_div .contenido span {
            display: block;
            text-align: center;
            padding: 4vw 0;
            font-weight: 600;
            font-size: 2vw;
        }

        #pub .padre_artes {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
        }

        #pub img {
            width: 94%;
            display: block;
            margin: 0 auto;
            height: 92%;
        }
}


/* Tablet Vertical */
@media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: portrait) 
    and (-webkit-min-device-pixel-ratio: 1){

        .fondo .banner {
            height: 18vw;
            background-size: 100% 100% !important;
        }

        .fondo .imagen {
            top: 18vw;
            height: calc(100vh - 38vw);
            background-size: 100% !important;
        }

        .fondo .botones {
            height: 20vw;
        }

        .fondo .botones .btn_padre .btn_icono {
            width: 11vw;
            height: 11vw;
        }

        .fondo .botones .btn_padre .btn_texto {
            font-size: 2.3vw;
        }

        .fondo .social {
            bottom: 20vw;
            height: 20vw;
        }

        .fondo .social .div_social .centro .texto {
            font-size: 2.7vw;
        }

        .fondo .social .div_social .centro .btn_acction {
            font-size: 2.7vw;
        }

        .fb-like {
            display: block !important;
            margin: 0 auto;
        }

        .notificacion .centro .texto {
            font-size: 2.7vw;
        }

        .div_modulo .mod_snac {
            height: 13vw;
        }

        .div_modulo .mod_snac .mod_titulo .texto {
            font-size: 2.8vw;
        }

        .div_modulo .mod_contenido {
            height: calc(100% - 13vw);
            top: 13vw;
        }

        .mod_lista.mod_turismo .lista_cat {
            top: 4vw;
            height: 12vw;
        }

        .mod_lista.mod_turismo .lista_cat .item {
            font-size: 2.8vw;
        }

        .mod_lista .lista_items .lugar {
            width: 82%;
            height: 56vw;
        }

        .mod_lista .lista_items .lugar .barra {
            height: 20vw;
        }

        .mod_lista .lista_items .lugar .barra .logo {
            width: 14vw;
        }

        .mod_lista .lista_items .lugar .barra .logo .icono{
            width: 8vw;
            height: 8vw;
            line-height: 8vw;
            font-size: 2.8vw;
        }

        .mod_lista .lista_items .lugar .nombre {
            font-size: 2.9vw;
            left: 16vw;
        }

        .mod_lista .lista_items .lugar .descripcion {
            height: 24vw;
            font-size: 2.8vw;
        }

        .mod_lista .lista_items .promo .descripcion {
            padding: 0 8vw;
            font-size: 2.8vw;
        }

        .mod_lista.mod_puntos_wifi .lista_cat {
            height: 12vw;
        }

        .mod_lista.mod_puntos_wifi .lista_cat .item {
            font-size: 2.8vw;
        }

        .mod_lista.mod_puntos_wifi .lista_items .punto {
            height: 28vw;
        }

        .mod_lista.mod_puntos_wifi .lista_items .punto .centro .datos .nombre {
            font-size: 3vw;
        }

        .mod_lista.mod_puntos_wifi .lista_items .punto .centro .datos .texto {
            font-size: 2.8vw;
        }

        .anuncio .video .ad_bloque {
            max-height: 106vw;
            max-width: 88%;
        }

        .anuncio .video .ad_bloque .ad_titulo {
            height: 16vw;
        }

        .anuncio .video .ad_bloque .ad_file {
            max-height: 90vw;
        }


    }

/* Tablet Horizontal */

@media only screen 
    and (min-device-width: 1024px) 
    and (max-device-width: 1365px) 
    and (orientation: landscape) 
    and (-webkit-min-device-pixel-ratio: 1) {

        .portrait_div {
            display: none;   
        }

        .landscape_div {
            display: flex;
            align-items: center;
            position: absolute;
            z-index: 1017;
            width: 100%;
            height: 100%;
            background: #fff;
        }

        .landscape_div .contenido {
            width: 100%;
        }

        .landscape_div .contenido i {
            display: block;
            display: block;
            text-align: center;
            font-size: 10vw;
            color: #004371;
        }

        .landscape_div .contenido span {
            display: block;
            text-align: center;
            padding: 4vw 0;
            font-weight: 600;
            font-size: 2vw;
        }

    }

